body{
    background-color: #FFFFE8;
    opacity: 1;
}
select{
    width:200px;
}
form{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content:space-around;
    flex-direction: row;

}
.formin{
    display: inline-block;
    justify-content: center;
}
label{
    margin-left: 25px;
}
.customise{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-top:20px;
    margin-left:23vw;
}
.customise .formin{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
   
}
.matter{
    margin-top: 20px;
    width:440px;
    /* margin-left:20px;z */
    padding:20px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.happy{
    width: 120px;
}
.cin{
    display: flex;
    flex-direction: row;
}
.gello{
    margin-top: 16vh;
    margin-left:10vw;
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;

}
.qr-code{
    height:320px;
    width:320px;
}
.leftcontainer{
   
  
width: 45vw; height: 30vh;
padding:2px;
margin-top: 150px;
}
.details{
   cursor: pointer;
    border-radius: 20px;
    margin:4px;
    

}
.btn btn-outline-dark my-1 ml-2{
    display: block;
    justify-content: center;
}
.nav-link{
    text-align: center;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.hoverlink:hover{
    background-color: #ffc93c;
    font-size:1.3rem;
color:black;
}

@media all and (max-width:1115px){
    .customise{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main_responsive{
        display: flex;
        flex-direction: column;
    }
    .button_responsive{
        margin:10px;
    }
}
@media all and (max-width:885px){
    .customise{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main_responsive{
        display: flex;
        flex-direction: column;
    }
    .cin{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gello{
        flex-direction: column;
    }
    .leftcontainer{
        margin-top:15vh
    }
}
