body{
    background-color: #FFFFE8;
    opacity: 1;
}
.cin{
    display: flex;
    flex-direction: row;
    margin:20px;
    padding:10px;
}
.gello{
    margin-top: 16vh;
    margin-left:5vw;
    width:100%;
    display: flex;
    justify-content: center;
    align-items:center;

}
#reader{
    width: 480px;
    height:390px;
}
.matter{
    margin-top: 20px;
    width:440px;
    /* margin-left:20px; */
    padding:20px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.leftcontainer{
   
  
    width: 40vw; height: 30vh;
    padding:2px;
    margin-top: 150px;
    }
.details{
   cursor: pointer;
    border-radius: 20px;
    margin:4px;
    

}
.nav-link{
    text-align: center;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.hoverlink:hover{
    background-color: #ffc93c;
    font-size:1.3rem;
color:black;
}
